/*
@cfg: #5C6773;
@bg: #FAFAFA;
@accent: #FF6A00;
@uifg: #828C99;
@pbg: #FFFFFF;
@shadow: #A0A0A0;
@path_fg: #B0BEC5;
@row_bg: #F5F5F5;
@normal: #828C99;
@puck: #000000;
@grid_divider: #E2E4E7 ;
@error: #FF3333;
@line_hg: #F2F2F2;
@gutterFg: #D9D8D7;
@selection: #F0EEE4;
@stack_guide: #DEDDDC;
@active_guide: #B3B2B1;
@tag: #41A6D9;
@func: #F29718;
@regexp: #4DBF99;
@string: #86B300;
@comment: #ABB0B6;
@sup_var: #F07178;
@es_spec: #CCA37A;
@keyword: #F2590C;
@operator: #E7C547;
@constant: #A37ACC;
*/

@ghost-white: #F8F8F0;
@light-ghost-white: #F8F8F2;
@light-gray: #CCC;
@gray: #888;
@brown-gray: #49483E;
@dark-gray: #282828;

@yellow: #E6DB74;
@blue: #66D9EF;
@pink: #F92672;
@purple: #AE81FF;
@brown: #75715E;
@orange: #FD971F;
@light-orange: #FFD569;
@green: #A6E22E;
@sea-green: #529B2F;

body {
  font-family: 'Roboto', sans-serif;
  color: @green;
  margin: 0;
  background: @dark-gray;
}

html {
  position: relative;
  min-height: 100%;
}

.lds-needuser {
  display: none;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
  opacity: 0.9;
}
.lds-header {
  width: 100%;

  .lds-brand {
    font-size: 18px;
    line-height: 20px;
    padding: 15px 0;
    height: 50px;
    span {
      margin: 12px 0;
      color: @ghost-white;
    }
    .version {
      font-size: 60%;
    }
  }

  .right-buttons {
    text-align: right;
  }

  button.btn.btn-lds {
    color: @light-ghost-white;
    background: @brown-gray;
    border-color: @gray;
    margin-top: 8px;

  }
  .lds-connect {
    display: none;
  }
  .userimg {
    display: inline-block;
    height: 1.8em;
    border-radius: 50%;
  }
  .username {
    display: inline-block;
  }
}

main {
  .table {
    th, thead {
      color: @blue;
      border: 1px solid @brown;
      cursor: pointer;

      .sorted {
        color: @purple;
        &:after {
          font-family: FontAwesome;
          content: "\f0d8";
          margin-left: 4px;
        }
        &.desc:after {
          font-family: FontAwesome;
          content: "\f0d7";
          margin-left: 4px;
        }
      }
    }
    td {
      border: 1px solid @brown;

      &.getComments {
        > div {
          max-height: 64px;
          overflow: hidden;
        }
        p {
          margin: 0;
          border-bottom: 1px dotted @gray;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
    tbody tr:hover {
      color: @pink;
      background: @brown-gray;
    }
  }

  #overlay {
    position: fixed;
    top: 52px;
    left: 12px;
    right: 12px;
    bottom: 12px;
    padding: 12px;
    background-color: @brown-gray;
    border-radius: 1em;
    transform: translate3d(150%, 0, 0);
    -webkit-transition: -webkit-transform 500ms;
    transition: transform 500ms;
    min-height: 420px;

    &.enabled {
      transform: translate3d(0, 0, 0);
    }

    .buttons {
      margin-bottom: 22px;
      .btn {
        display: none;
      }
    }

    .name {
      margin-top: 0px;
    }

    .type {
      width: 60%;
      margin: 0 auto;
    }
    h2 {
      width: 80%;
      margin: 0 auto 8px auto;
    }

    #myrating, #mycomment {
      cursor: pointer;
      color: @blue;
    }

    #mycomment.edit {
      padding: 0;
    }

    textarea.form-control {
      background: @dark-gray;
      color: @light-orange;
    }

    .comments {
      color: @sea-green;
      .comment {
        border-bottom: 1px dashed @green;
        .date {
          text-align: right;
          font-size: 80%;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  height: 72px;
  padding: 20px 0;
  color: @ghost-white;
  background: @brown-gray;
}

#loading-status {
  position: fixed;
  left: 50%;
  top: 50%;
  color: @purple;
  font-size: 64px;
  margin: -32px -32px;
}

[lds-text-edit] {
  cursor: pointer;
  border: 1px dotted @dark-gray;
  color: @blue;
  min-height: 1.6em;
  padding: 4px 8px;
  border-radius: 4px;

  &:hover {
    background: @dark-gray;
  }
}
.edit {
  border: 1px solid #448;
  padding: 0;
  input {
    padding: 4px;
    background: @dark-gray;
    color: @light-orange;
  }
}

#myrating, #mycomment {
  padding: 0 8px;
}
.rating {
  font-size: 18px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.level-1 {
  margin-left: 8px;
}
.level-2 {
  margin-left: 16px;
}
.level-3 {
  margin-left: 24px;
}
.level-4 {
  margin-left: 32px;
}

.collapsed .more {
  display: none;
}

#noerror-alert {
  position: relative;
}

#noerror-alert img {
  position: absolute;
  bottom: 0;
  height: 100px;
  right: 24px;
}

.glyphicon-refresh-animate {
  -webkit-animation: spin 1.2s infinite linear;
  -moz-animation-name: spin 1.2s infinite linear;
  -o-animation-name: spin 1.2s infinite linear;
  -animation: spin 1.2s infinite linear;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-o-keyframes spin {
    from { -o-transform: rotate(0deg); }
    to { -o-transform: rotate(360deg); }
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}
