/* GENERATED 4 LDS */
/* --- Resizable columns --- */
.rc-handle-container {
  position: relative;
}
.rc-handle-container .rc-handle {
  position: absolute;
  width: 7px;
  cursor: ew-resize;
  margin-left: -3px;
  z-index: 2;
}
table.rc-table-resizing {
  cursor: ew-resize;
}
table.rc-table-resizing thead,
table.rc-table-resizing thead > th,
table.rc-table-resizing thead > th > a {
  cursor: ew-resize;
}
/* --- /Resizable columns --- */
body {
  font-family: 'Roboto', sans-serif;
  color: #444;
  margin: 0 12px;
  background: white;
}
html {
  position: relative;
  min-height: 100%;
}
.lds-needuser {
  display: none;
}
h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #444;
  opacity: 0.9;
}
.lds-header {
  width: 100%;
}
.lds-header .lds-brand {
  font-size: 18px;
  line-height: 20px;
  padding: 15px 0;
  height: 50px;
}
.lds-header .lds-brand span {
  margin: 12px 0;
  color: #444;
}
.lds-header .lds-brand .version {
  font-size: 60%;
}
.lds-header .right-buttons {
  text-align: right;
}
.lds-header button.btn.btn-lds {
  /*color: @light-ghost-white;
    background: @brown-gray;
    border-color: @gray;*/
  margin-top: 8px;
}
.lds-header .lds-connect,
.lds-header .lds-addplace,
.lds-header .lds-logout {
  display: none;
}
.lds-header .userimg {
  display: inline-block;
  height: 1.8em;
  border-radius: 50%;
}
.lds-header .username {
  display: inline-block;
}
main .table thead {
  color: #F8F8F2;
  background-color: #529B2F;
  cursor: pointer;
}
main .table thead tr > th {
  vertical-align: middle;
  text-align: center;
  border: 2px solid white;
}
main .table thead tr > th:first-child {
  border-top-left-radius: 12px;
}
main .table thead tr > th:last-child {
  border-top-right-radius: 12px;
}
main .table thead .sorted {
  color: #cfb4ff;
}
main .table thead .sorted:after {
  font-family: FontAwesome;
  content: "\f0d8";
  margin-left: 4px;
}
main .table thead .sorted.desc:after {
  font-family: FontAwesome;
  content: "\f0d7";
  margin-left: 4px;
}
main .table > tbody tr:nth-child(2n) {
  background-color: #eff9ea;
}
main .table > tbody tr:nth-child(2n+1) {
  background-color: #fefffd;
}
main .table > tbody tr:hover {
  color: #F92672;
  background: #F8F8F2;
}
main .table > tbody tr td {
  border: 2px solid white;
  vertical-align: middle;
}
main .table > tbody tr td.getComments > div {
  max-height: 64px;
  overflow: hidden;
}
main .table > tbody tr td.getComments p {
  margin: 0;
  border-bottom: 1px dotted #888;
}
main .table > tbody tr td.getComments p:last-child {
  border-bottom: none;
}
main #overlay {
  position: fixed;
  top: 52px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  padding: 12px;
  background-color: #F8F8F2;
  border-radius: 1em;
  transform: translate3d(150%, 0, 0);
  -webkit-transition: -webkit-transform 500ms;
  transition: transform 500ms;
  min-height: 420px;
}
main #overlay .alert {
  display: none;
}
main #overlay.enabled {
  transform: translate3d(0, 0, 0);
}
main #overlay .buttons {
  margin-bottom: 22px;
}
main #overlay .buttons .btn {
  display: none;
}
main #overlay .buttons .saving {
  font-size: 100%;
  display: none;
}
main #overlay .name {
  margin-top: 0px;
}
main #overlay .type {
  width: 60%;
  margin: 0 auto;
}
main #overlay h2 {
  width: 80%;
  margin: 0 auto 8px auto;
}
main #overlay #myrating,
main #overlay #mycomment {
  cursor: pointer;
  color: #75715E;
}
main #overlay #mycomment.edit {
  padding: 0;
}
main #overlay textarea.form-control {
  background: #CCC;
  color: #282828;
}
main #overlay .comments {
  color: #529B2F;
}
main #overlay .comments .comment {
  border-bottom: 1px dashed #A6E22E;
}
main #overlay .comments .comment .name {
  font-size: 80%;
}
main #overlay .comments .comment .date {
  float: right;
  font-size: 80%;
}
main #overlay .comments .comment:last-child {
  border-bottom: none;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  height: 72px;
  padding: 20px 0;
  color: #F8F8F0;
  background: #49483E;
}
#loading-status {
  position: fixed;
  left: 50%;
  top: 50%;
  color: #AE81FF;
  font-size: 64px;
  margin: -32px -32px;
}
[lds-text-edit] {
  cursor: pointer;
  border: 1px dotted #CCC;
  color: #75715E;
  min-height: 1.6em;
  padding: 4px 8px;
  border-radius: 4px;
}
[lds-text-edit]:hover {
  background: #CCC;
}
.edit {
  border: 1px solid #448;
  padding: 0;
}
.edit input {
  padding: 4px;
  background: #CCC;
  color: #282828;
}
#myrating,
#mycomment {
  padding: 0 8px;
}
.rating {
  font-size: 18px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}
.level-1 {
  margin-left: 8px;
}
.level-2 {
  margin-left: 16px;
}
.level-3 {
  margin-left: 24px;
}
.level-4 {
  margin-left: 32px;
}
.collapsed .more {
  display: none;
}
#noerror-alert {
  position: relative;
}
#noerror-alert img {
  position: absolute;
  bottom: 0;
  height: 100px;
  right: 24px;
}
.glyphicon-refresh-animate {
  -webkit-animation: spin 1.2s infinite linear;
  -moz-animation-name: spin 1.2s infinite linear;
  -o-animation-name: spin 1.2s infinite linear;
  -animation: spin 1.2s infinite linear;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
/*# sourceMappingURL=lds-light.css.map */